section {
    color:aqua;
    padding:3rem;
    background-color: gray;
    text-align: center;
    font-size: 2rem;
    border: 3px solid aqua;

}
div {
    text-align: center;
    background-color: gray;
    border: 3px solid aqua;
}